In [2]:
import pandas as pd
Laliga = pd.read_csv('Laliga.csv', header = 1)
Laliga.index=Laliga['Team']

In [4]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)
#print(Laliga)
F1 = Laliga.replace('-',0).tail()
print(F1)

                  Pos              Team  Seasons Points GamesPlayed GamesWon  \
Team
Xerez              57             Xerez        1     34          38        8
Condal             58            Condal        1     22          30        7
Atletico Tetuan    59   Atletico Tetuan        1     19          30        7
Cultural Leonesa   60  Cultural Leonesa        1     14          30        5
Girona             61            Girona        1      0           0        0

                 GamesDrawn GamesLost GoalsFor GoalsAgainst Champion  \
Team
Xerez                    10        20       38           66        0
Condal                    8        15       37           57        0
Atletico Tetuan           5        18       51           85        0
Cultural Leonesa          4        21       34           65        0
Girona                    0         0        0            0        0

                 Runner-up Third Fourth Fifth Sixth  T    Debut Since/LastApp  \
Team
Xerez                    0     0      0     0     0  0  2009-10       2009-10
Condal                   0     0      0     0     0  0  1956-57       1956-57
Atletico Tetuan          0     0      0     0     0  0  1951-52       1951-52
Cultural Leonesa         0     0      0     0     0  0  1955-56       1955-56
Girona                   0     0      0     0     0  0  2017-18       2017-18

                  BestPosition
Team
Xerez                       20
Condal                      16
Atletico Tetuan             16
Cultural Leonesa            15
Girona                       9

In [6]:
#Print all the teams which have started playing between 1930-1980. (5 points)
Laliga = pd.read_csv('Laliga.csv', header = 1) #cleaning the data removing the first empty column
Laliga.index=Laliga['Team']                    #indexing
H1 = Laliga.replace('-',0)                     #replacing all the '-' to '0'
gf=(H1.loc[:,'Debut'])                         #picking the column Debut
Laliga['Debut_temp']=gf.str.slice(0,4)         #slicing to first 4 characters and creating the new column Debut Temp
convert_type={'Debut_temp':int}                #assigning the interger datatype to the column
ldf = Laliga.astype(convert_type)              #fitting the column into the dataframe or changing the 
                                                            #datatype of the column in datafram
print(ldf.Debut_temp >= 1930,ldf.Debut_temp <= 1980)   #taking the values greater than 1930
                                                            #& taking the values lesser than 1980 
                                                        #how to print values greater than 1930 & the values lesser than 1980
                                                        #using if condition? - Need to check

Team
Real Madrid            False
Barcelona              False
Atletico Madrid        False
Valencia                True
Athletic Bilbao        False
Sevilla                 True
Espanyol               False
Real Sociedad          False
Zaragoza                True
Real Betis              True
Deportivo La Coruna     True
Celta Vigo              True
Valladolid              True
Racing Santander       False
Sporting Gijon          True
Osasuna                 True
Malaga                  True
Oviedo                  True
Mallorca                True
Las Palmas              True
Villarreal              True
Granada                 True
Rayo Vallecano          True
Elche                   True
Getafe                  True
Hercules                True
Tenerife                True
Murcia                  True
Alaves                  True
Levante                 True
                       ...
Sabadell                True
Cadiz                   True
Logrones                True
Castellon               True
Albacete                True
Almeria                 True
Cordoba                 True
Compostela              True
Recreativo              True
Burgos CF               True
Pontevedra              True
Numancia                True
Eibar                   True
Arenas                 False
Real Burgos             True
Gimnastic               True
Extremadura             True
Merida                  True
Alcoyano                True
Jaen                    True
Real Union             False
AD Almeria              True
Europa                 False
Lleida                  True
Leganes                 True
Xerez                   True
Condal                  True
Atletico Tetuan         True
Cultural Leonesa        True
Girona                  True
Name: Debut_temp, Length: 61, dtype: bool Team
Real Madrid             True
Barcelona               True
Atletico Madrid         True
Valencia                True
Athletic Bilbao         True
Sevilla                 True
Espanyol                True
Real Sociedad           True
Zaragoza                True
Real Betis              True
Deportivo La Coruna     True
Celta Vigo              True
Valladolid              True
Racing Santander        True
Sporting Gijon          True
Osasuna                 True
Malaga                  True
Oviedo                  True
Mallorca                True
Las Palmas              True
Villarreal             False
Granada                 True
Rayo Vallecano          True
Elche                   True
Getafe                 False
Hercules                True
Tenerife                True
Murcia                  True
Alaves                  True
Levante                 True
                       ...
Sabadell                True
Cadiz                   True
Logrones               False
Castellon               True
Albacete               False
Almeria                False
Cordoba                 True
Compostela             False
Recreativo              True
Burgos CF               True
Pontevedra              True
Numancia               False
Eibar                  False
Arenas                  True
Real Burgos            False
Gimnastic               True
Extremadura            False
Merida                 False
Alcoyano                True
Jaen                    True
Real Union              True
AD Almeria              True
Europa                  True
Lleida                  True
Leganes                False
Xerez                  False
Condal                  True
Atletico Tetuan         True
Cultural Leonesa        True
Girona                 False
Name: Debut_temp, Length: 61, dtype: bool

In [7]:
#Print the list of teams which came Top 5 in terms of points (2.5 points)
F1 = Laliga.replace('-',0)
convert_type={'Points':int}                                               #Converting the points column to interger
ldf = F1.astype(convert_type)                                             #Fitting the interger column into the dataframe
ldf.sort_values('Points',ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_temp
Team,,,,,,,,,,,,,,,,,,,,,
Real Madrid,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,1929
Barcelona,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,1929
Atletico Madrid,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1929
Valencia,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,1931
Athletic Bilbao,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,1929

In [12]:
#String columns that are required to be converted to numeric for calculation purposes
cols_tonumeric=['Pos', 'Seasons','Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T','BestPosition']

In [23]:
#Converting the above mentioned columns to numeric
F1[cols_tonumeric]=F1[cols_tonumeric].apply(pd.to_numeric)

In [18]:
#Write a function with name “Goal_diff_count” which should return all the
#teams with their Goal Differences. Using the same function, find the team which has maximum and 
#minimum goal difference. (5 points)
def Goal_diff_count():
    F1['Goal_diff'] = F1['GoalsFor'] - F1.GoalsAgainst
    print(F1.Goal_diff)
    print("Team with Max goal diff:",F1.Goal_diff.max() )
    print("Team with Max goal diff:",F1.Goal_diff.min() )

In [19]:
Goal_diff_count()

Team
Real Madrid            2807
Barcelona              2786
Atletico Madrid        1225
Valencia                929
Athletic Bilbao         931
Sevilla                 307
Espanyol               -280
Real Sociedad            -2
Zaragoza               -164
Real Betis             -333
Deportivo La Coruna    -136
Celta Vigo             -346
Valladolid             -413
Racing Santander       -525
Sporting Gijon         -399
Osasuna                -334
Malaga                 -342
Oviedo                 -309
Mallorca               -189
Las Palmas             -399
Villarreal              103
Granada                -338
Rayo Vallecano         -328
Elche                  -272
Getafe                 -113
Hercules               -334
Tenerife               -125
Murcia                 -385
Alaves                 -165
Levante                -202
                       ...
Sabadell               -228
Cadiz                  -269
Logrones               -198
Castellon              -169
Albacete                -90
Almeria                -122
Cordoba                -145
Compostela              -42
Recreativo              -94
Burgos CF               -94
Pontevedra              -56
Numancia                -98
Eibar                   -28
Arenas                  -81
Real Burgos             -38
Gimnastic              -114
Extremadura             -55
Merida                  -45
Alcoyano               -107
Jaen                    -62
Real Union              -31
AD Almeria              -45
Europa                  -34
Lleida                 -112
Leganes                 -19
Xerez                   -28
Condal                  -20
Atletico Tetuan         -34
Cultural Leonesa        -31
Girona                    0
Name: Goal_diff, Length: 61, dtype: int64
Team with Max goal diff: 2807
Team with Max goal diff: -525

In [36]:
#Create a new column with name “Winning Percent” and append it to the data set (5 points)
F1['Winning Percent'] = ((F1['GamesWon'] / F1.GamesPlayed)*100).fillna(value=0) # and filling the error values with 0
#Question 5i - Top 5 teams in terms of winning percentage
F1.sort_values(['Winning Percent'],ascending=False).loc[:,['Winning Percent']].head()

                 Winning Percent
Team
Real Madrid            59.630702
Barcelona              57.241130
Atletico Madrid        47.475134
Valencia               44.557057
Athletic Bilbao        43.772629

In [39]:
#Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
F1.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64